<ion-header translucent>
  <ion-toolbar color="danger">
    <ion-title>
      PokedexApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen color="dark">
  <ion-searchbar placeholder="Buscar Pokemom" color="medium"></ion-searchbar>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="success">001</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="success">grass</ion-badge>
          <ion-badge color="tertiary">poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>

    </ion-item>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="danger">004</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Charmander</h2>
          <ion-badge color="danger">fire</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>

    </ion-item>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="primary">007</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="primary">water</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-thumbnail>

    </ion-item>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="warning">025</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Pikachu</h2>
          <ion-badge color="warning">eletric</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
      </ion-thumbnail>

    </ion-item>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="secondary">144</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Articuno</h2>
          <ion-badge color="secondary">ice</ion-badge>
          <ion-badge color="light">flying</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/144.png">
      </ion-thumbnail>

    </ion-item>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="warning">145</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Zapdos</h2>
          <ion-badge color="warning">eletric</ion-badge>
          <ion-badge color="light">flying</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/145.png">
      </ion-thumbnail>

    </ion-item>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="danger">146</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Moltres</h2>
          <ion-badge color="danger">fire</ion-badge>
          <ion-badge color="light">flying</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/146.png">
      </ion-thumbnail>

    </ion-item>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="warning">243</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Raikou</h2>
          <ion-badge color="warning">eletric</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/243.png">
      </ion-thumbnail>

    </ion-item>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="danger">244</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Entei</h2>
          <ion-badge color="danger">fire</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/244.png">
      </ion-thumbnail>

    </ion-item>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item color="dark">

      <ion-chip slot="start">
        <ion-label color="secondary">245</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Suicune</h2>
          <ion-badge color="secondary">water</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/245.png">
      </ion-thumbnail>

    </ion-item>
  </ion-item-sliding>

</ion-content>